*{
    padding: 0;
    margin: 0;
    font-family: lato;
}

.menucontainer{
  display: none;
}

#myDIV{
  display: block;
}

a{
    color:white;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cee0c3;
  height: 85px;
}

li {
  float: right;
  font-size: 20px;
  padding-top: 10px;
}

li a, .dropbtn {
  display: inline-block;
  color: #29453b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgheader{
    width: 8.4%;
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.header2{
    margin-top: 60px;
    margin-left: 60px;
    font-size: 40px;
}

.img1{
    margin-left: 40px;
    margin-top: 30px;
}

.img2div{
  display: flex;
  justify-content: center;
}

.img2{
    display: flex;
    margin: 0 auto;
    width: 60%;
    position: absolute;
    opacity: 10%;
}

.p1{
    padding-right: 80px;
    padding-top: 10px;
    font-size: 28px;
    text-align: justify;
    line-height: 2;
}

.p2{
  font-size: 28px;
  line-height: 2;
  margin-left: 20px;
  color:dimgray;
}

.div1{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.last{
  padding-bottom: 50px;
}

.div2{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.p2 a{
  color:dimgray;
  margin-left: 20px;
}

.p2 a:hover{
  color: #29453b;
}

footer{
  background-color: #cee0c3;
  padding: 10px;
  height: 220px;
}

.pfooter{
  font-size: 12px;
  text-align: center; 
}

.container{
  display: flex;
  width: 100%;

}

.divMap{
  width: 33%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgMap{
  width: 100%;
}

.divMap p{
  line-height: 2.2;
  font-weight: bold;
  vertical-align: middle;
}

.divContact{
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}

.divContact button{
  background: 0;
  border: none;
}

.divContact button:hover{
  transform: scale(1.3);
  transition: 0.3s ease;
}

.imgContact{
  width: 80px;
  height: 80px;
}

.imgContact1{
  width: 120px;
  height: 120px;
}

.footermenu{
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  margin-top: -20px;
  padding-bottom: 10px;
}

.footermenu p{
  font-size: 18px;
}

.footermenu a{
  text-decoration: none;
  color: #29453b;
}

.footermenu a:hover{
  text-decoration: underline;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.ig{
  width: 60px;
}
.tt{
  width: 90px;
  margin-left: -15px;
}

.imgBtn{
  background: none;
  border: 2px solid black;
  padding: 0px;
  cursor: pointer;
  margin: 0;
  width: 300px;
}

/* Responsive tweaks - tablet and mobile */
@media (max-width: 768px) {
  /* easier sizing model */
  *, *::before, *::after { box-sizing: border-box; }

  /* Responsive header styles */
  ul {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  li {
    float: none;
    text-align: center;
  }

  .header2 {
    font-size: 30px;
  }

  /* Make dropdown behave vertically */
  .dropdown-content {
    position: static;
    box-shadow: none;
    min-width: 100%;
  }

  /* Header and images flow naturally */
  .imgheader {
    display: none;
  }

  .header2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 32px;
    text-align: left;
  }

  .img1 {
    margin-left: 10px;
    margin-top: 12px;
    max-width: 100%;
    height: auto;
  }

  .img2 {
    width: 100%;
    position: fixed;
    display: block;
    margin-left: 25px;
  }

  /* Content containers use more width on small screens */
  .div1, .div2 {
    width: 95%;
    margin: 10px auto;
    padding-bottom: 10px;
  }

  .p1, .p2 {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 0;
    margin-left: 8px;
    text-align: justify;
  }

  .p2 a {
    margin-left: 8px;
  }

  /* Social icons scale down and align inline */
  .ig, .tt {
    width: 40px;
    margin-bottom: 0;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
  }
    .menucontainer{
    display: flex;
    justify-content: space-between;
    background-color: #cee0c3;
  }
  .menu{
    display: flex;
    width: 12%;
    align-items: center;
    border: none;
    background-color: #cee0c3;
  }
  .menuheader{
    width: 100px;
    height: 80px;
  }
  .menuicon{
    width: 80px;
    height: 60px;
  }
  #myDIV{
    display: none;
  }
    footer{
    height: auto;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .divMap, .divContact, .footermenu{
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }

  .footermenu{
    padding-right: 0;
  }

  .divMap{
    flex-direction: column;
    align-items: center;
  }
  .imgMap{
    width: 70%;
  }
  .imgBtn{
    border: none;
  }


}


/* Extra small phones */
@media (max-width: 480px) {
  .imgheader {
    display: none;
  }

  .header2 {
    font-size: 24px;
    margin-left: 8px;
  }

  li a, .dropbtn {
    font-size: 16px;
    padding: 10px 6px;
  }

  .p1, .p2 {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 6px;
    padding-right: 0;
  }

  .ig, .tt {
    width: 34px;
    margin-left: 6px;
  }

  .ul{
    display: flex;
    flex-direction: column-reverse;
  }
}