*{
    padding: 0;
    margin: 0;
    font-family: lato;
}

.menucontainer{
  display: none;
}

a{
    color:white;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cee0c3;
  height: 85px;
}

li {
  float: right;
  font-size: 20px;
  padding-top: 10px;
}

li a, .dropbtn {
  display: inline-block;
  color: #29453b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgheader{
    width: 8.5%;
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.header2{
    margin-top: 60px;
    margin-left: 60px;
    font-size: 40px;
}

.alt-text{
  margin-left: 62px;
  font-size: 20px;
}

.img1{
    margin-left: 60px;
    margin-top: 30px;
}

.img2{
    margin-left: 60px;
    margin-top: 30px;
}

.height{
  border: 2px solid black;
  width: 10px;
  height: 200px;
  background-color: black;
  margin-left: 100px;
  margin-top: 50px;
}

.bar1{
  border: 2px solid black;
  width: 80%;
  position:absolute;
  margin-top: 30px;
  height: 40px;
  z-index: -1;
}

.bar2{
  border: 2px solid black;
  width: 80%;
  position:absolute;
  margin-top: 120px;
  height: 40px;
  z-index: -1;
}

.bar1 p, .bar2 p{
  text-align: center;
  font-size: 30px;
}

.div1{
    width: 50%;
    float: right;
}



.p1{
    padding-right: 30px;
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
}

.p2{
    padding-right: 30px;
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
}

.test1{
  width: 1300px;
  height: 300px;
  margin: auto;
  font-size: 36px;
  font-weight: 800;
  text-align:center;
  text-shadow: black 1px 1px 2px;
  border: 2px solid #29453b;
  color: #b0CE88;
  background: url("./kabaya/2.jpg");
  background-size: cover;
  object-position:bottom;
  opacity: 0.72;
  border-radius: 15px;
}

.test2{
  width: 1300px;
  height: 300px;
  margin: auto;
  font-size: 36px;
  font-weight: 800;
  text-align:center;
  text-shadow: black 1px 1px 2px;
  border: 2px solid #29453b;
  color: #b0CE88;
  background: url("./samudera/1.jpg");
  background-size: cover;
  object-position:bottom;
  opacity: 0.72;
  border-radius: 15px;
}

.test3{
  width: 1300px;
  height: 300px;
  margin: auto;
  font-size: 36px;
  font-weight: 800;
  text-align:center;
  text-shadow: black 1px 1px 2px;
  border: 2px solid #29453b;
  color: #b0CE88;
  background: url("./elpiji/1.jpg");
  background-size: cover;
  object-position:bottom;
  opacity: 0.72;
  border-radius: 15px;
}

.test4{
  width: 1300px;
  height: 300px;
  margin: auto;
  font-size: 36px;
  font-weight: 800;
  text-align:center;
  text-shadow: black 1px 1px 2px;
  border: 2px solid #29453b;
  color: #b0CE88;
  background: url("./berlian/1.jpg");
  background-size: cover;
  object-position:bottom;
  opacity: 0.72;
  border-radius: 15px;
}

.kabaya1{
  width: 33%;
}

.centerDiv{
  justify-self: center;
  margin-top: 40px;
}

.centerDiv1{
  justify-self: center;
  margin-top: 10px;
  width: 86.7%;
  background: whitesmoke;
  line-height: 2;
}

#myDIV{
  display: none;
}

#myDIV1{
  display: none;
}

#myDIV2{
  display: none;
}

#myDIV3{
  display: none;
}

section:last-of-type{
  padding-bottom: 50px;
}
footer{
  background-color: #cee0c3;
  padding: 10px;
  height: 220px;
}

.pfooter{
  font-size: 12px;
  text-align: center; 
}

.container{
  display: flex;
  width: 100%;

}

.divMap{
  width: 33%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgMap{
  width: 100%;
}

.divMap p{
  line-height: 2.2;
  font-weight: bold;
  vertical-align: middle;
}

.divContact{
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}

.divContact button{
  background: 0;
  border: none;
}

.divContact button:hover{
  transform: scale(1.3);
  transition: 0.3s ease;
}

.imgContact{
  width: 80px;
  height: 80px;
}

.imgContact1{
  width: 120px;
  height: 120px;
}

.footermenu{
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  margin-top: -20px;
  padding-bottom: 10px;
}

.footermenu p{
  font-size: 18px;
}

.footermenu a{
  text-decoration: none;
  color: #29453b;
}

.footermenu a:hover{
  text-decoration: underline;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.imgBtn{
  background: none;
  border: 2px solid black;
  padding: 0px;
  cursor: pointer;
  margin: 0;
  width: 300px;
}

@media (max-width: 768px) {
  /* easier sizing model */
  *, *::before, *::after { box-sizing: border-box; }

  /* Responsive header styles */
  ul {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  li {
    float: none;
    text-align: center;
  }

  .header2 {
    font-size: 30px;
  }

  .alt-text {
    font-size: 18px;
  }

  /* Make header image and banners fluid */
  .imgheader {
    display: none;
  }

  .test1, .test2, .test3, .test4{
    width: 440px;
    height: 180px;
    font-size: 24px;
  }

  .kabaya1{
    width: 32%;
  }
    .menucontainer{
    display: flex;
    justify-content: space-between;
    background-color: #cee0c3;
  }
  .menu{
    display: flex;
    width: 12%;
    align-items: center;
    border: none;
    background-color: #cee0c3;
  }
  .menuheader{
    width: 100px;
    height: 80px;
  }
  .menuicon{
    width: 80px;
    height: 60px;
  }
  #myDIV{
    display: none;
  }
  #myDIV4{
    display: none;
  }
  footer{
    height: auto;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .divMap, .divContact, .footermenu{
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .footermenu{
    padding-right: 0;
  }
  .divMap{
    flex-direction: column;
    align-items: center;
  }
  .imgMap{
    width: 70%;
  }
  .imgBtn{
    border: none;
  }
}