*{
    padding: 0;
    margin: 0;
    font-family: lato;
}

.menucontainer{
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cee0c3;
  height: 85px;
}

li {
  float: right;
  font-size: 20px;
  padding-top: 10px;
}

li a, .dropbtn {
  display: inline-block;
  color: #29453b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgheader{
    width: 8.5%;
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.img1{
    margin-top: 30px;
    width: 1200px;
    height: 400px;
    object-fit: cover;
}

.img2{
    margin-left: 28vw;
    margin-top: 10px;
    width: 40%;
    position: absolute;
    opacity: 40%;
}

.div1{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.divImg{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.img3{
  height: 300px;
  width: 320px;
  object-fit: cover;
}

.img4{
  width: 60%;
  padding-top: 35px;
}

.div2{
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.p1{
    padding-right: 80px;
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
    line-height: 2;
}

.p1::first-letter{
  font-size: 40px;
  color: #29453b;
  font-family: 'Times New Roman', Times, serif;
  line-height: 0;
  margin-left: 12px;
}

.right{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 50px;
}

.right .p1{
  margin-left: 50px
}

section:last-of-type{
  padding-bottom: 50px;
}

footer{
  background-color: #cee0c3;
  padding: 10px;
  height: 220px;
}

.pfooter{
  font-size: 12px;
  text-align: center; 
}

.container{
  display: flex;
  width: 100%;

}

.divMap{
  width: 33%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgMap{
  width: 100%;
}

.divMap p{
  line-height: 2.2;
  font-weight: bold;
  vertical-align: middle;
}

.divContact{
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}

.divContact button{
  background: 0;
  border: none;
}

.divContact button:hover{
  transform: scale(1.3);
  transition: 0.3s ease;
}

.imgContact{
  width: 80px;
  height: 80px;
}

.imgContact1{
  width: 120px;
  height: 120px;
}

.footermenu{
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  margin-top: -20px;
  padding-bottom: 10px;
}

.footermenu p{
  font-size: 18px;
}

.footermenu a{
  text-decoration: none;
  color: #29453b;
}

.footermenu a:hover{
  text-decoration: underline;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.imgBtn{
  background: none;
  border: 2px solid black;
  padding: 0px;
  cursor: pointer;
  margin: 0;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .imgheader {
    display: none;
  }

  .header2, .header3 {
    font-size: 30px;
    margin-left: 20px;
  }

  .divImg{
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .divImg, .right{
    margin: 0 auto;
  }

  .img1 {
    width: 90%;
    height: auto;
  }

  .img4 {
    width: 100%;
    margin-left: 5%;
  }

  .div1 {
    width: 95%;
    align-items: center;
  }

  .p1 {
    padding-right: 20px;
    font-size: 16px;
  }

  .right {
    width: 90%;
    flex-direction: column;
  }

  li {
    float: none;
    text-align: center;
  }

  ul {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .igp, .fbp, .ttp {
    display: none;
  }
  .footerp{
    display: none;
  }
  .menucontainer{
    display: flex;
    justify-content: space-between;
    background-color: #cee0c3;
  }
  .menu{
    display: flex;
    width: 12%;
    align-items: center;
    border: none;
    background-color: #cee0c3;
  }
  .menuheader{
    width: 100px;
    height: 80px;
  }
  .menuicon{
    width: 80px;
    height: 60px;
  }
  #myDIV{
    display: none;
  }

  footer{
    height: auto;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .divMap, .divContact, .footermenu{
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .divMap{
    flex-direction: column;
    align-items: center;
  }
  .imgMap{
    width: 70%;
  }
  .imgBtn{
    border: none;
  }
  .footermenu{
    padding-right: 0;
  }

  /*.imgMap{
    display: none;
  }*/
}


