*{
    padding: 0;
    margin: 0;
    font-family: lato;
}

.menucontainer{
  display: none;
}

a{
    color:white;
    text-decoration: none;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cee0c3;
  height: 85px;
}

.li {
  float: right;
  font-size: 20px;
  padding-top: 10px;
}

.li a, .dropbtn {
  display: inline-block;
  color: #29453b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.li a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

.li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.imgheader{
    width: 8.5%;
    position: absolute;
    margin-left: 10px;
    margin-top: -7px;
}

.header2{
    margin-top: 60px;
    margin-left: 60px;
    font-size: 40px;
}

.header3{
    margin-top: 60px;
    margin-left: 60px;
    font-size: 40px;
}

.img1{
    margin-left: 70px;
    margin-top: 30px;
    width: 1300px;
    height: 400px;
    object-fit: cover;
}

.img2div{
  display: flex;
  justify-content: center;
}

.img2{
    display: flex;
    margin: 0 auto;
    width: 70%;
    position: absolute;
    opacity: 10%;
}

.div1{
    width: 80%;
    margin: auto;
}

.divImg{
    width: 55%;
    margin-left: 150px;
}

.img3{
  position: absolute;
  margin-top: -550px;
  margin-left: 770px;
  height: 500px;
  width: 450px;
  object-fit: cover;
}

.div2{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

.p1{
    padding-right: 80px;
    padding-top: 30px;
    font-size: 40px;
    text-align: justify;
    line-height: 2;
}

.p2{
  font-size: 18px;
  line-height: 2;
}

section:last-of-type{
  padding-bottom: 50px;
}

.list{
  font-size: large;
  margin-left: 20px;
  line-height: 2;
}

footer{
  background-color: #cee0c3;
  padding: 10px;
  height: 220px;
}

.pfooter{
  font-size: 12px;
  text-align: center; 
}

.container{
  display: flex;
  width: 100%;

}

.divMap{
  width: 33%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgMap{
  width: 100%;
}

.divMap p{
  line-height: 2.2;
  font-weight: bold;
  vertical-align: middle;
}

.divContact{
  display: flex;
  width: 33%;
  justify-content: space-evenly;
  align-items: center;
}

.divContact button{
  background: 0;
  border: none;
}

.divContact button:hover{
  transform: scale(1.3);
  transition: 0.3s ease;
}

.imgContact{
  width: 80px;
  height: 80px;
}

.imgContact1{
  width: 120px;
  height: 120px;
}

.footermenu{
  width: 25%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  flex-direction: column;
  margin-top: -20px;
  padding-bottom: 10px;
}

.footermenu p{
  font-size: 18px;
}

.footermenu a{
  text-decoration: none;
  color: #29453b;
}

.footermenu a:hover{
  text-decoration: underline;
  transform: scale(1.2);
  transition: 0.5s ease;
}

.imgBtn{
  background: none;
  border: 2px solid black;
  padding: 0px;
  cursor: pointer;
  margin: 0;
  width: 300px;
}


@media screen and (max-width: 768px) {
  .imgheader {
    display: none;
  }

  .li {
    float: none;
    text-align: center;
  }

  .ul {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .header2, .header3 {
    margin: 30px 20px;
    font-size: 28px;
  }

  .img1 {
    width: 90%;
    height: 200px;
    margin: 20px auto;
    display: block;
  }

  .img2 {
    width: 80%;
    position: absolute;
    display: block;
    margin-left: 80px;
  }

  .img3 {
    position: static;
    width: 90%;
    height: auto;
    margin: 20px auto;
    display: block;
  }

  .divImg {
    width: 90%;
    margin: 0 auto;
  }

  .div1, .div2 {
    width: 90%;
  }

  .p1 {
    padding-right: 20px;
    font-size: 24px;
  }

  footer{
    height: auto;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .divMap, .divContact, .footermenu{
    width: 80%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }

  .img2div{
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
  }

  .img2 {
    width: 100%;
    position: fixed;
    margin-top: -160px;
    margin-left: -15px;
  }

  .footermenu{
    padding-right: 0;
  }

  .menucontainer{
    display: flex;
    justify-content: space-between;
    background-color: #cee0c3;
  }
  .menu{
    display: flex;
    width: 12%;
    align-items: center;
    border: none;
    background-color: #cee0c3;
  }
  .menuheader{
    width: 100px;
    height: 80px;
  }
  .menuicon{
    width: 80px;
    height: 60px;
  }
  #myDIV{
    display: none;
  }
  .divMap{
    flex-direction: column;
    align-items: center;
  }
  .imgMap{
    width: 70%;
  }
  .imgBtn{
    border: none;
  }
}